.sectionButton {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.1rem;
  cursor: pointer;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid transparent;
  &:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 110);
  }
}

#check:checked ~ .closeSesion {
  display: inline-flex;
}

.closeSesion {
  top: 100%;
  right: 2rem;
}
